body{
  background-color: #ff00ff;

}


.side ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: #f1f1f1;
}

.side li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.side li a:hover {
    background-color: #555;
    color: white;
}


/*voor dragsort*/
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

/*poll layout*/

.pollTable{
    width:30%;
    
}
.completed{
    color: red;
}
.pollRadio{
    width: 1%;
}

.pollTitle{
   margin: 0; padding: 0; 
}


/*comment section*/
.clear {  
clear:both;  
}  

#wrapper {  
width:480px;  
margin:0px auto;  
padding:15px 0px;  
}  

.comment {  
padding:5px;  
border:2px solid #7d5f1e;  
margin-top:15px;  
list-style:none;  
}  

.aut {  
font-weight:bold;  
}  

.timestamp {  
font-size:85%;  
float:rightright;  
}  

#comment_form {  
margin-top:15px;  
}  

#comment_form input {  
font-size:1.2em;  
margin:0 0 10px;  
padding:3px;  
display:block;  
width:100%;  
}  

#comment_body {  
display:block;  
width:100%;  
height:150px;  
}  

#submit_button {  
text-align:center;   
clear:both;  
}  
.theform{
    display:none;
}


.adminPanelPoll{
  padding:10px;
}
.adminPanelPoll ul{
    list-style-type: none;
}
.commentsPoll{
  padding: 10px;
}

/*create poll*/
.createPoll ul{
  list-style-type: none;
  padding-left: 0px;
}

/*forum*/
/*create category*/
.createCat label{
  margin-left: 15px;
}

.createCat textarea{
  margin-left: 15px;
  width: 70%;
}
.createCat h2{
  margin: 10px;
}
.createCat input[type=submit]{
  margin-left: 15px;
   margin-bottom: 15px;
}


/*admin dashboard*/
/*pages*/
.pages h3{
  padding: 10px;
}
.pages h5{
  padding: 10px;
}